.ftcardbody {
    padding: 0;
}
.ftcardbody .card {
    padding: 15px;
}

.squresub_btn {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    text-align: right;
}

.forselect_betsmand h5 {
    width: auto;
    display: inline-block;
}

.forselect_betsmand span {
    width: auto;
    float: right;
    cursor: pointer;
    color: #4ba8de;
}

.vjcard_customed .col-1 {max-width: 12%;}
.vjcard_customed input {width: 60px;}



.formore_disisal.col-1 .css-15k3avv {
    position: absolute;
    z-index: 999999999;
}

.formore_disisal {
    max-width: 22% !important;
}

.formore_score {
    max-width: 8% !important;
}

.pointer{
    cursor: pointer;
}

.capitalize{
    text-transform: capitalize; 
}

.submenu{
    margin: 5%;
}

.fontbold{
    font-weight: bold;
}

.mainmenu{
    margin-top: 8px;
}

.chksel{
    padding-top:5px;
}

.chksel input{
    margin-top: 5px;
    margin-left: 4px;
}

li.fullscr.active{
    background-color: #4dacdf;
    color: white;
}

li.fullscr {
    padding: 0px 25px 0px 25px;
}

.teamvs_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.teamvs_name {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

span.teamname_dinamic {
    margin-left: 10px;
}

div .teamvs_icon img{
    width: 100%;
}

.match_score{
    margin: 19px;
}

.hidden{
    display:none;
}
.table.wicket_divtd input {
    padding: 0;
    width: 45px;
}

.cui-note.h2 {
    font-size: medium;
    float: right;
    cursor: pointer;
}